* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.jomhuria-regular {
    font-family: "Jomhuria", serif;
    font-weight: 400;
    font-style: normal;
  }  
.jolly-lodger-regular {
    font-family: "Jolly Lodger", system-ui;
    font-weight: 400;
    font-style: normal;
  }
  .jockey-one-regular {
    font-family: "Jockey One", sans-serif;
    font-weight: 400;
    font-style: normal;
  }  
  nav{
    background-color: #DCC199;
  }
  .tam{
    height: 100px;
    display: grid;
  }
.container {
    display: grid;
    grid-template-columns: 15% 60% auto;
    grid-template-rows: 140px;
    gap: 20px;
    align-items: center;
    justify-items: center;

}
.menu{
    list-style: none;
    display: flex;
    gap: 6vw;
    align-items: start;
    justify-self: center;
}
.linha {
    padding: 0;
    border: 0;
    width:auto;
    height: 10px;
    background-color: #8A775B;
}
.meio {
    background-image: url("../img/fundo1.png");
    background-size: 100%;
    width: 100%;
    height: 680px;
}
.meio2 { 
    display:grid;
    padding:100px;
    grid-template-columns: 55% auto;
    grid-template-rows: repeat(4, 100px);
    align-items: center;
    justify-items:center;
    list-style: none;
}
.quadrado {
    grid-column: 1;
    grid-row: 1 / 5;
    background-color: #DCC199;
    width: 520px;
    height:400px;
    border-radius: 20px;
    border: 6px solid rgba(83, 71, 53, 0.67);
    display: grid;
    align-items: center;
    justify-items: center;
}

.pesquisa2 {
    grid-column: 1;
    grid-row: 4;
    width: 400px;
}
.comida {
    grid-column: 2;
    grid-row: 3 / 5;
}
.final {
    background-image: url("../img/fundo1.png");
    background-size: 100%;
    width: auto;
    height: 680px;
}
.final2 {
    display: grid;
    grid-template-columns: 30% auto;
    grid-template-rows: 200px 200px;
    align-items: center;
    justify-items: center;
    padding-top: 100px;
    padding-bottom: 100px;
    column-gap: 150px;
}

#quad3 {
    grid-column: 1;
    grid-row: 1;
    height:200px;
    width: 800px;
    border-radius: 40px;
}
#quad4 {
    grid-column: 1;
    grid-row: 2;
    height:150px;
    width: 800px;
    border-radius: 35px;
}
#quad5 {
    grid-column: 3;
    grid-row: 1 / 3;
    height:500px;
    width: 90%;
    border-radius: 40px;
    justify-items:center;
}
.container2 {
    display: grid;
    grid-template-columns: 20% 30% 30% 20%;
    grid-template-rows: 150px;
    align-items: center;
    justify-items: center;
    background-color: #DCC199;
}
#imglogo {
    width: 140px;
}
.retcol{
    display: grid;
    width: 170%;
    height: 47px;
    border-radius: 13px;
    background: #8A775B;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    place-items: center;
}
#quadmenu1, #quadmenu2, #quadmenu3, #quadmenu4, #quadmenu5 {
    font-size: 30px;
    color: #F4E1C3;
}
.resto {
    height: 140px;
    width: 90%;

}
.contresto {
    display: grid;
    grid-template-columns: 17% auto;
    grid-template-rows: repeat(3, 1fr);
    height: 140px;
    width: 100%;
    place-items: center;
}
.idioma {
    grid-column: 2;
    grid-row: 1;
    text-decoration-line: underline;
    color: #74634B;
    font-size: 20px;
    justify-self: end;
}
.lupa {
    grid-column: 1;
    grid-row: 2;
    justify-self: end;
}
.lupinha {
    width: 34px;
}
.barrinha {
    border: 4px solid #8A775B;
    background: #F4E1C3;
    width: 97%;
    height: 80%;
    flex-shrink: 0;
}
#barrmenu{
    grid-column: 2;
    grid-row: 2;
        justify-self: end;
}
#textoquad1 {
    padding-bottom: 15%;
    color: #F4E1C3;
    text-align: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    -webkit-text-stroke-width: 6;
    -webkit-text-stroke-color: rgba(83, 71, 53, 0.67);
    font-size: 360%;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
#barrmeio {
    grid-column: 1;
    grid-row: 1;
    width: 100%;
}
.gridpesq{
    display: grid;
    grid-template-columns: 80% auto;
    grid-template-rows: 50px;
    place-items: start;
    gap: 20px;
    padding-bottom: 17%;
}
.lupa2 {
    justify-self: start;
}
.contapli {
    padding-left: 35%;
    padding-right: 7%;
}
#textapli {
    color: #F4E1C3;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.gridapps {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 70px;
    padding-left: 20%;
    place-items: center;
}
.logogoogle{
    width: 150px;
}
.logoapp {
    width: 150px;
}
.telefone {
    width: 500px;
}
.fotofooter {
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 45% 10% 45%;
    place-items: center;
    column-gap: 10px;
}
.logomini {
    grid-column: 1 / 3;
    grid-row: 1;
    align-self: start;
}
.container2 .fotogoogle {
    align-self: start;
    grid-column: 1;
    grid-row: 3;
}
.container2 .fotoapp {
    align-self: start;
    grid-column: 2;
    grid-row: 3;
}
.container2 .logogoogle {
    width: 90px;
}
.container2 .logoapp{
    width: 90px;
}
.minilogo {
    width: 110px;
}
.enderecofooter {
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: repeat(3, 1fr);
    row-gap: 2px;
    column-gap: 10px;
}
.retfoot{
    grid-column: 1/4;
    grid-row: 1/3;
    width: 100%;
    height: 66px;
    flex-shrink: 0;
    border-radius: 13px;
    background: #8A775B;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
#emailfoot {
    grid-column: 1/4;
    grid-row: 1;
    color: #F4E1C3;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-left: 3%;
    padding-top: 2%;
}
#enderecofoot {
    grid-column: 1/4;
    grid-row: 2;
    color: #F4E1C3;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-left: 3%;
}
.retfoot1 {
    width: auto;
    border-radius: 9px;
    background: #8A775B;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    display: grid;
    grid-column: 1;
    grid-row: 3;
}
#retfootE11, #retfootE12 {
    place-self: center;
    color: #F4E1C3;
    font-size: 27px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.retfoot2 {
    width: auto;
    border-radius: 9px;
    background: #8A775B;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    display: grid;
    grid-column: 2;
    grid-row: 3;
}
.redesfooter {
    display: grid;
    grid-template-columns: 10% 40% 10% 40%;
    grid-template-rows: repeat(2, 1fr);
    place-items: center;
    row-gap: 20px;
    column-gap: 5%;
}
.redesfoot{
    border-radius: 13px;
    width: 110%;
    height: 100%;
    background: #8A775B;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    display: grid;
    place-items: center;
}
#palavra1, #palavra2, #palavra3, #palavra4 {
    color: #F4E1C3;
    font-size: 27px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.pb {
    width: 30px;
}
.czinho {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}
#czinho1 {
    color: #74634B;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    grid-row: 4;
}
.comidinhayay {
    width: 580px;
}
@media (max-width: 1250px){
    nav {
        display: grid;
        grid-template-columns: 27% auto;
        grid-template-rows: 140px;
        gap: 0%;
        align-items: center;
        justify-items: center;
        padding-left: 5%;
    }
    .logo {
        justify-self: center;
    }
    #imglogo{
        width: 90%;
        max-width: 60%;
    }
    nav ul li {
        display: none;
    }
    .resto {
        grid-column: 2;
        grid-row: 1;
        justify-self: start;
    }
    .idioma {
        justify-self: end;
    }
    .meio2 { 
        display:grid;
        padding:100px;
        grid-template-columns: 100%;
        grid-template-rows: 100px 100px 100px 100px;
        align-items: center;
        justify-items:center;
        list-style: none;
    }
    .final2 {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: 200px 200px;
        align-items: center;
        justify-items: center;
        padding-top: 100px;
        padding-bottom: 100px;
    }
    .pesquisa2 {
        grid-column: 1;
        grid-row: 4;
        align-self: center;
    }
    #quad5 {
        display: none;
    }
    .comidinhayay {
        display: none;
    }
    .retangulo {
        display: none;
    }
    .container2 {
        grid-template-columns: 20% 50% 19%;
    }
    .redesfooter{
        display: none;
    }
    #quad3 {
        grid-column: 1;
        grid-row: 1;
        height:200px;
        width: 50%;
        border-radius: 40px;
    }
    #quad4 {
        grid-column: 1;
        grid-row: 2;
        height:150px;
        width: 50%;
        border-radius: 35px;
    }
    .contapli {
        padding-left: 7%;
        padding-right: 7%;
    }
    .gridapps {
        padding-left: 0%;
    }
    .logogoogle {
        width: 100px;
    }
    .logoapp {
        width: 100px;
    }
    .fotofooter{
        padding-left: 40%;
    }
    .czinho {
        display: none;
    }
    .container2 {
        display: grid;
        grid-template-columns: 30% auto;
        grid-template-rows: 150px;
        align-items: center;
        justify-items: center;
        background-color: #DCC199;
    }
    .quadrado {
        grid-column: 1;
        grid-row: 1 / 5;
        background-color: #DCC199;
        width: 62%;
        height:400px;
        border-radius: 20px;
        border: 6px solid rgba(83, 71, 53, 0.67);
        display: grid;
        align-items: center;
        justify-items: center;
        min-width: 200px;
    }
    #textoquad1{
        padding-bottom: 15%;
    color: #F4E1C3;
    text-align: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    -webkit-text-stroke-width: 6;
    -webkit-text-stroke-color: rgba(83, 71, 53, 0.67);
    font-size: 200%;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    }
    .pesquisa2 {
        grid-column: 1;
        grid-row: 4;
        width: 150px;
    }
    #textapli{
        font-size: 150%;
    }
    #quad3 {
        min-width: 220px;
    }
    #quad4 {
        min-width: 250px;
    }
    .gridapps{
        gap: 1px;
    }
    .gridpesq{
        gap: 10px;
    }
}

/*
.retangulos {
    display: inline-block;
    width: 164px;
    height: 57px;
    border-radius: 13px;
    background: #8A775B;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
    */
/*
.fundo1 {
    display: inline-block;
    margin-right: 1vw;
    border: 1vw solid black;
    display: block;
    unicode-bidi: isolate;
    width: 1922px;
    height: 888px;
    background: #8A775B;
}
.retangulo{
    width: 164px;
    height: 57px;
    border-radius: 13px;
    background: #8A775B;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
 .jomhuria-regular {
    font-family: "Jomhuria", serif;
    font-weight: 400;
    font-style: normal;
 }
.jolly-lodger-regular {
    font-family: "Jolly Lodger", system-ui;
    font-weight: 400;
    font-style: normal;
  }
  .jockey-one-regular {
    font-family: "Jockey One", sans-serif;
    font-weight: 400;
    font-style: normal;
  }  
.meiocard {
    background-image: url("../img/fundo1.png");
    background-size: 100%;
    width: auto;
    height: 680px;
}
.meio2card { 
    background-image: url("../img/fundo1.png");
    background-size: 100%;
    width: auto;
    height: 480px;
}
.containercard figure, .containerbeb figure{
    align-content: center;
    display: grid;
}
.idiomatext{
    font-family: "Jockey One", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.quadrado {
    grid-column: 1;
    grid-row: 1 / 5;
    background-color: #DCC199;
    width: 520px;
    height:400px;
    border-radius: 20px;
    border: 6px solid rgba(83, 71, 53, 0.67);
    display: grid;
    align-items: center;
    justify-items: center;
}
.pesquisa2 {
    grid-column: 1;
    grid-row: 4;
    width: 400px;
}
.comida {
    grid-column: 2;
    grid-row: 3 / 5;
}
#imglogo {
    width: 140px;
}
.retcol{
    display: grid;
    width: 170%;
    height: 47px;
    border-radius: 13px;
    background: #8A775B;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    place-items: center;
}
.quadmenu {
    font-size: 30px;
    color: #F4E1C3;
    font-family: "Jomhuria", serif;
    font-weight: 400;
    font-style: normal;
}
.resto {
    height: 140px;
    width: 90%;

}
.gridapps {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 70px;
    padding-left: 20%;
    place-items: center;
}
.fotofooter {
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 45% 10% 45%;
    place-items: center;
    column-gap: 10px;
}
.logomini {
    grid-column: 1 / 3;
    grid-row: 1;
    align-self: start;
}
.container2 .fotogoogle {
    align-self: start;
    grid-column: 1;
    grid-row: 3;
}
.container2 .fotoapp {
    align-self: start;
    grid-column: 2;
    grid-row: 3;
}
.container2 .logogoogle {
    width: 90px;
}
.container2 .logoapp{
    width: 90px;
}
.minilogo {
    width: 110px;
}
.enderecofooter {
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: repeat(3, 1fr);
    row-gap: 2px;
    column-gap: 10px;
}
.retfoot{
    grid-column: 1/4;
    grid-row: 1/3;
    width: 100%;
    height: 66px;
    flex-shrink: 0;
    border-radius: 13px;
    background: #8A775B;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

}
#emailfoot {
    grid-column: 1/4;
    grid-row: 1;
    color: #F4E1C3;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-left: 3%;
    padding-top: 2%;
    font-family: "Jomhuria", serif;
    font-weight: 400;
    font-style: normal;
}
#enderecofoot {
    grid-column: 1/4;
    grid-row: 2;
    color: #F4E1C3;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-left: 3%;
    font-family: "Jomhuria", serif;
    font-weight: 400;
    font-style: normal;
}
.retfoot1 {
    width: auto;
    border-radius: 9px;
    background: #8A775B;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    display: grid;
    grid-column: 1;
    grid-row: 3;
}
.retfootE1 {
    place-self: center;
    color: #F4E1C3;
    font-size: 27px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    font-family: "Jomhuria", serif;
    font-weight: 400;
    font-style: normal;
}
.retfoot2 {
    width: auto;
    border-radius: 9px;
    background: #8A775B;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    display: grid;
    grid-column: 2;
    grid-row: 3;
}
.redesfooter {
    display: grid;
    grid-template-columns: 10% 40% 10% 40%;
    grid-template-rows: repeat(2, 1fr);
    place-items: center;
    row-gap: 20px;
    column-gap: 5%;
}
.redesfoot{
    border-radius: 13px;
    width: 110%;
    height: 100%;
    background: #8A775B;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    display: grid;
    place-items: center;
}
.palavra {
    color: #F4E1C3;
    font-size: 27px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    font-family: "Jomhuria", serif;
    font-weight: 400;
    font-style: normal;
}
.pb {
    width: 30px;
}
.czinho {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}
#czinho1 {
    color: #74634B;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    grid-row: 4;
}
.titulomeio {
    color: #F4E1C3;
    text-align: center;
    font-size: 420%;
    padding-top: 1%;
    font-family: "Jockey One", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.tamtit{
    width: auto;
    height: 500px;
}
#barrtit {
    grid-column: 1;
    grid-row: 2;
    width: 100px;
    align-self: center;
}
.barrcard {
    display: flex;
    padding: 0% 36%;
    gap: 20px;
    padding-bottom: 3%;
}
#barrcard {
    width: 100%;
    height: 50px;
}
.lupinhacard {
    width: 20%;
    height: 20%;
}
.retmeio {
    display: flex;
    border: 3px solid rgba(83, 71, 53, 0.67);
    background: #DCC199;
    width: auto;
    height: 11%;
    justify-content: center;
}
.hambmeio {
    color: #F4E1C3;
    align-self: center;
    font-size: 270%;
    font-weight: 400;
    font-family: "Jockey One", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.containercard {
    display: grid;
    width: auto;
    padding-top: 2%;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 160px);
    align-items: center;
    justify-items: center;
    row-gap: 30px;
}
#retcard1, #retcard2, #retcard3, #retcard4, #retcard5, #retcard6, #retcard7, #retcard8, #retcard9 {
    width: 98%;
    height: 120px;
    border-radius: 30px;
    border: 4px solid rgba(83, 71, 53, 0.67);
    background: #DCC199;
}
#retcard {
    display: flex;
    align-items: center;
    justify-items: start;
}
#bursim, #bursal, #burcou, #burbig, #burlon, #burgra {
    width: 100px;
    align-self: center;
    justify-self: start;
}
.descham {
    color: #534735;
    font-size: 20px;
    font-family: "Jolly Lodger", system-ui;
    font-weight: 400;
    font-style: normal;
}
.containerbeb{
    display: grid;
    width: auto;
    margin-top: 4%;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 190px;
    align-items: center;
    justify-items: center;
}
#agua{
    height: 130px;
    align-self: center;
}
#suco{
    height: 120px;
    align-self: end;
}
#refri{
    height: 185px;
    align-self: center;
}
.meio2card .retmeio {
    height: 17%;
}
@media (max-width: 1250px){
    .redesfooter{
        display: none;
    }
    #quad3 {
        grid-column: 1;
        grid-row: 1;
        height:200px;
        width: 50%;
        border-radius: 40px;
    }
    .fotofooter{
        padding-left: 40%;
    }
    .czinho {
        display: none;
    }
    .descham{
        display: none;
    }
   
    .containercard{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 100px);
        
    }
     #retcard{
        height: 130px;
        justify-content: center;
        
     }
     
     .lupinhacard{
        display: none;
     }
     .container2 {
        grid-template-columns: 1fr 1fr;
    }
}
.meioext {
    background-image: url("../img/fundo1.png");
    background-size: 100%;
    width: auto;
}
.contresto {
    display: grid;
    grid-template-columns: 17% auto;
    grid-template-rows: repeat(3, 1fr);
    height: 140px;
    width: 100%;
    place-items: center;
}
.idioma {
    grid-column: 2;
    grid-row: 1;
    text-decoration-line: underline;
    color: #74634B;
    font-size: 20px;
    justify-self: end;
}
.lupa {
    grid-column: 1;
    grid-row: 2;
    justify-self: end;
}
.lupinha {
    width: 34px;
}
.barrinha {
    border: 4px solid #8A775B;
    background: #F4E1C3;
    width: 97%;
    height: 80%;
    flex-shrink: 0;
}
#barrmenu{
    grid-column: 2;
    grid-row: 2;
        justify-self: end;
}


.contapli {
    padding-left: 35%;
    padding-right: 7%;
}
#textapli {
    color: #F4E1C3;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.retmeio {
    display: flex;
    border: 3px solid rgba(83, 71, 53, 0.67);
    background: #DCC199;
    width: auto;
    height: 11%;
    justify-content: center;
    align-items: center;
    
}
#hambmeio {
    color: #F4E1C3;
    text-align: center;
    font-size: 44px;
}
#azul {
    color: #21ABC9;
    font-size: 17px;
}
.contham1 {
    display: grid;
    margin: 3%;
    grid-template-columns: 35% auto;
    grid-template-rows: 250px;
    place-items: center;
}
.retham1 {
    display: grid;
    border-radius: 43px;
    border: 6px solid rgba(83, 71, 53, 0.67);
    background: #DCC199;
    width: 90%;
    height: 90%;
    align-items: center;
    justify-items: center;
}
.retham2{
    display: flex;
    width: 90%;
    height: 60%;
    border-radius: 43px;
    border: 6px solid rgba(83, 71, 53, 0.67);
    background: #DCC199;
    padding: 3%;
}
#ingr {
    color: #534735;
    font-size: 25px;
    align-self: center;
}
.conttabela{
    display: grid;
    grid-template-columns: 65% 35%;
    grid-template-rows: 50px 350px;
    margin: 10% 18% 0%;
    border-radius: 43px;
    border: 6px solid rgba(83, 71, 53, 0.67);
    background: #DCC199;
}
.meio2ext { 
    background-image: url("../img/fundo1.png");
    background-size: 70%;
    width: auto;
}
#tittab{
    color: #F4E1C3;
    font-size: 44px;
    justify-self: center;
}
#alerg{
    color: #F4E1C3;
    font-size: 46px;
}
.tabimg{
    width: 70%;
    max-width: 400px;
    place-self: center;
    min-width: 150px;
}
#nada{
    grid-column: 2;
    grid-row: 2;
    font-size: 20px;
    padding-top: 10%;
}
#alergia{
    grid-column: 2;
    grid-row: 2;
    align-self: center;
    color: #F4E1C3;
    font-size: 200%;
}
.quadtabela{
    display: flex;
    justify-items: center;
    justify-self: center;
}
.meioext .retmeio{
    gap: 50px;
}
@media (max-width: 1250px){
    .meio2ext { 
        background-image: url("../img/fundo1.png");
        background-size: 100%;
        width: auto;
        height: 480px;
    }
    .final2 {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: 200px 200px;
        align-items: center;
        justify-items: center;
        padding-top: 100px;
        padding-bottom: 100px;
    }
    .pesquisa2 {
        grid-column: 1;
        grid-row: 4;
        align-self: center;
    }
    #quad5 {
        display: none;
    }
    .comidinhayay {
        display: none;
    }
    .retangulo {
        display: none;
    }

    .redesfooter{
        display: none;
    }
    #quad3 {
        grid-column: 1;
        grid-row: 1;
        height:200px;
        width: 50%;
        border-radius: 40px;
    }
    #quad4 {
        grid-column: 1;
        grid-row: 2;
        height:150px;
        width: 50%;
        border-radius: 35px;
    }
    .contapli {
        padding-left: 7%;
        padding-right: 7%;
    }
    .gridapps {
        padding-left: 0%;
    }
    .logogoogle {
        width: 100px;
    }
    .logoapp {
        width: 100px;
    }
    .fotofooter{
        padding-left: 40%;
    }
    .czinho {
        display: none;
    }
    .conttabela {
        grid-template-columns: 1fr;
        justify-items: center;
      }
      #alergia, #nada, #alerg{
        display: none;
      }
      #ingr {
        font-size: 100%;
      }
}
.meiofor {
    background-image: url("../img/fundo1.png");
    background-size: 100%;
    width: auto;
    height: 980px;
}
.meio2for { 
    display:grid;
    padding:100px;
    padding-top: 50px;
    grid-template-columns: auto;
    grid-template-rows: 100px 200px 500px 100px;
    align-items: center;
    justify-items:center;
    list-style: none;
}
.quadradofor {
    grid-row: 3;
    background-color: #DCC199;
    width: 900px;
    height:100%;
    border-radius: 20px;
    border: 6px solid rgba(83, 71, 53, 0.67);
    display: grid;
}
.quadradogd{
    grid-row: 2;
    background-color: #F4E1C3;
    border-radius: 20px;
    border: 6px solid rgba(83, 71, 53, 0.67);
    height: 60%;
}
#enviar{
    font-family: 'Jockey One';
    margin: 6%;
    background: #DCC199;
    width: 150px;
    height: 70px;
}
#envtxt{
    color: #534735;
}
.quadrado1for {
    grid-row: 2;
    background-color: #DCC199;
    width: 900px;
    height:80%;
    border-radius: 20px;
    border: 6px solid rgba(83, 71, 53, 0.67);
    display: grid;
    align-items: center;
    justify-items: center;
}
.pesquisa2 {
    grid-column: 1;
    grid-row: 4;
    width: 400px;
}
.comida {
    grid-column: 2;
    grid-row: 3 / 5;
}
#textincon{
    font-size: 140%;
    color:#534735;
    margin: 1%;
}
.container1for {
    display: grid;
    grid-template-rows: 27% 26% auto;
    padding: 4%;
    padding-bottom: 0%;
}
#grid1{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 20% auto;
    column-gap: 40px;
}
#grid2{
    display: grid;
    grid-template-columns: 48% 10% auto;
    grid-template-rows: 20% auto;
    column-gap: 20px;
}
#grid3{
    display: grid;
    grid-template-rows: 13% auto;
}
#gdnome, #gdsobr, #gdddd, #gdema, #gduf, #gdcid, #gdmsg {
    color: #534735;

    
}
.nomes{
    background-color: red;
}

.gridapps {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 70px;
    padding-left: 20%;
    place-items: center;
}
.logogoogle{
    width: 150px;
}
.logoapp {
    width: 150px;
}
.telefone {
    width: 500px;
}
.fotofooter {
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 45% 10% 45%;
    place-items: center;
    column-gap: 10px;
}
.logomini {
    grid-column: 1 / 3;
    grid-row: 1;
    align-self: start;
}
.container2 .fotogoogle {
    align-self: start;
    grid-column: 1;
    grid-row: 3;
}
.comidinhayay {
    width: 580px;
}
#contato{
    font-size: 70px;
    color: #F4E1C3;
}

@media (max-width: 1250px){
    nav {
        display: grid;
        grid-template-columns: 27% auto;
        grid-template-rows: 140px;
        gap: 0%;
        align-items: center;
        justify-items: center;
        padding-left: 5%;
    }
    .gridapps .logogoogle, .gridapps .logoapp{
        width: 65%;
    }
    .logo {
        justify-self: center;
    }
    #imglogo{
        width: 90%;
        max-width: 60%;
    }
    nav ul li{
        display: none;
    }
    .resto {
        grid-column: 2;
        grid-row: 1;
        justify-self: start;
    }
    .idioma {
        justify-self: end;
    }
    
    .fotofooter{
        padding-left: 40%;
    }
    .czinho {
        display: none;
    }
    .redesfooter{
        display: none;
    }
    .pesquisa2 {
        grid-column: 1;
        grid-row: 4;
        width: 150px;
    }
    #textapli{
        font-size: 150%;
    }
    #quad3 {
        min-width: 220px;
    }
    #quad4 {
        min-width: 250px;
    }
    .gridapps{
        gap: 1px;
    }
    .gridpesq{
        gap: 10px;
    }
    #textincon{
        font-size: 15px;
    }
    #burlonext{
        width: 50%;
    }
    .quadradofor{
        width: 140%;
        height: 100%;
        max-width: 700px;
    }
    .container1for .quadradogd{
        width: 100%;
        height: 80%;
        row-gap: 0%;
    }
    .quadrado1for{
        width: 100%;
    }
    .gridscont{
        height: 50%;
        row-gap: 15px;
    }
    #grid1{
        row-gap: 40px;
    }
    #grid2{
        grid-template-columns: repeat(3, 1fr);
    }
    .quadrado{
        width: 70%;
    }
}
@media (max-width: 650px){
    .container2 {
        grid-template-columns: 1fr 1fr;
    }
    .fotofooter{
        grid-column: 1/3;
        padding: 0;
    }
    .enderecofooter, .redesfooter, .czinho {
        display: none;
    }
    #textincon{
        font-size: 12px;
    }
}
